<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_floor3_m" value="0.0662765" />
    <xacro:property name="base_floor3_r" value="0.07500000" />
    <xacro:property name="base_floor3_h" value="0.00300000" />
    <xacro:property name="base_floor3_o_xyz" value="0 0 ${base_floor3_h / 2}" />
    <xacro:property name="base_floor3_o_rpy" value="0 0 0" />

    <!-- Link base_floor3 -->
    <link name="base_floor3">
    
        <xacro:cylinder_inertia m="${base_floor3_m}" r="${base_floor3_r}" h="${base_floor3_h}" o_xyz="${base_floor3_o_xyz}" o_rpy="${base_floor3_o_rpy}"/>
        
        <collision>
            <origin xyz="${base_floor3_o_xyz}" rpy="${base_floor3_o_rpy}"/>
            <geometry>
                <cylinder radius="${base_floor3_r}" length="${base_floor3_h}" />
            </geometry>
        </collision>

        <!-- Part base_floor_3 -->
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://gizmo_description/meshes/base_floor_3.stl"/>
            </geometry>
            <material name="base_floor_3_material">
                <color rgba="0.121569 0.133333 0.14902 1"/>
            </material>
        </visual>

        <!-- Part bn_1593_1348663_hexagon_socket_button_head_screw_m3x6_13 -->
        <visual>
        <origin xyz="-0.0406106 -0.0507522 0.002" rpy="0 ${pi/2} 0"/>
        <geometry>
            <mesh filename="package://gizmo_description/meshes/bn_1593_1348663_hexagon_socket_button_head_screw_m3x6.stl"/>
        </geometry>
        <material name="bn_1593_1348663_hexagon_socket_button_head_screw_m3x6_13_material">
            <color rgba="0.941176 0.941176 0.941176 1"/>
        </material>
        </visual>
        
        <!-- Part bn_1593_1348663_hexagon_socket_button_head_screw_m3x6_14 -->
        <visual>
        <origin xyz="-0.0406106 0.0507522 0.002" rpy="0 ${pi/2} 0"/>
        <geometry>
            <mesh filename="package://gizmo_description/meshes/bn_1593_1348663_hexagon_socket_button_head_screw_m3x6.stl"/>
        </geometry>
        <material name="bn_1593_1348663_hexagon_socket_button_head_screw_m3x6_14_material">
            <color rgba="0.941176 0.941176 0.941176 1"/>
        </material>
        </visual>
        
    </link>
</robot>