{
  # "documentId": "ba161a14ba97029bdebdbe78",
  "url" : "https://cad.onshape.com/documents/ba161a14ba97029bdebdbe78/w/763840078b47bec3c84c8d3f/e/1aafa4d786a44edc0f75a836",
  "assets_directory": "meshes/",
  "output_format": "urdf",
  "package_name": "gizmo_description",
  "robot_name": "gizmo",
  "assembly_name": "GIzmoV.2",
  "export_stl_with_meters": true,
  #"set_zero_mass_to_fixed": false,
  // Ignore limits (default: false, if set true, joint limits will be ignored)
  "ignore_limits": true,
  // "default_joint_type": "continuous",
  #"mesh_output_format": "dae",
  "joint_properties": {
    "right_wheel_joint": {
      "type": "continuous",
      "axis": [
        0,
        1,
        0
      ]
    },
    "left_wheel_joint": {
      "type": "continuous",
      "axis": [
        0,
        1,
        0
      ]
    }
  }
}